.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  overflow: hidden;
  border-right: 1px solid #1a1a1a;
}

.canvas {
  cursor: move;
  background-color: #3a3a3a;
  max-width: 100%;
  max-height: 100%;
}
